@use "../abstracts/variables" as *;

.color-selector {
  display: flex;
  gap: 12px;

  &__input {
    display: none;
  }

  &__label {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -4px;
      left: -4px;
      right: -4px;
      bottom: -4px;
      border-radius: 50%;
      border: 1px solid transparent;
      transition: border-color 0.2s ease;
    }
  }

  &__input:checked + &__label::after {
    border-color: $text-dark;
  }
}
