@use "../abstracts/variables" as *;

.color-selector {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;

  &__input {
    display: none;
  }

  &__label {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      background: url("../../src/assets/icons/vector-tick.svg") no-repeat center/contain;
      opacity: 0;
      transition: opacity 0.2s ease;
    }
  }

  &__input:checked+&__label::after {
    opacity: 1;
  }
}