@use "../abstracts" as *;

.product-card {
  @include flex-group(0px, space-between, flex-start);
  flex-direction: column;
  min-width: 0;

  &__image {
    margin: 0;

    & img {
      border-radius: $radius-lg;
      max-width: 100%;
    }
  }

  &__name-wrapper {
    position: relative;
    width: 100%;
    margin: 16px 0 0 0;

    &:hover .product-card__name-full {
      opacity: 1;
      visibility: visible;
    }
  }

  &__name {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  &__name-full {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    position: absolute;
    bottom: 100%;
    margin-bottom: 4px;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.2s ease,
      visibility 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    word-break: break-word;
    border-radius: 4px;
    padding: 6px;
    box-sizing: border-box;
  }

  &__rating {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 6px;

    & span {
      color: $text-muted;
    }

    &--start {
      content: "";
      background: $icn-star;
      width: 22px;
      height: 21px;
    }
  }

  &__price {
    margin-top: 8px;
    font-size: 24px;
    font-weight: 700;
    @include flex-group(10px, flex-start, center);

    &--current {
      color: $black-color;
    }

    &--old {
      color: $text-muted;
      text-decoration: line-through;
    }

    &--discount {
      padding: 6px 13.5px;
      color: $danger-color;
      font-size: 12px;
      font-weight: 500;
      border-radius: $radius-pill;
      background-color: $label-danger-color;
    }
  }
}
