@use "../abstracts" as *;

.product-card {
  @include flex-group(0px, flex-start, flex-start);
  flex-direction: column;
  min-width: 0;
  height: 100%;

  &__image {
    margin: 0;

    & img {
      border-radius: 13px;
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }

  &__name-wrapper {
    position: relative;
    width: 100%;
    margin: 16px 0 0 0;

    &:hover .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }

  &__name {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

    @media (max-width: $breakpoint) {
      font-size: 16px;
    }
  }

  &__rating {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 6px;

    @media (max-width: $breakpoint) {
      font-size: 12px;
    }

    & span {
      color: $text-muted;
    }

    &--start {
      content: "";
      background: $icn-star;
      width: 19px;
      height: 19px;

      @media (max-width: $breakpoint) {
        width: 15px;
        height: 15px;
        background-size: cover;
      }
    }
  }

  &__price {
    margin-top: 8px;
    font-size: 24px;
    font-weight: 700;
    @include flex-group(10px, flex-start, center);
    flex-wrap: wrap;

    @media (max-width: $breakpoint) {
      font-size: 20px;
      gap: 5px;
    }

    &--current {
      color: $black-color;
    }

    &--old {
      color: $text-muted;
      text-decoration: line-through;
    }

    &--discount {
      padding: 6px 13.5px;
      color: $danger-color;
      font-size: 12px;
      font-weight: 500;
      border-radius: $radius-pill;
      background-color: $label-danger-color;

      @media (max-width: $breakpoint) {
        font-size: 10px;
        padding: 3px 8px;
      }
    }
  }

  &--detail {
    align-items: flex-start;
    gap: 0;

    .product-card__name {
      font-size: 32px;
      margin: 0 0 12px 0;
      white-space: normal;
      overflow: visible;
      color: $text-dark;
      font-family: $font-family-title;
      width: 100%;

      @media (max-width: $breakpoint) {
        font-size: 24px;
      }
    }

    .product-card__rating {
      margin-top: 0;
      margin-bottom: 24px;
      gap: 8px;

      @media (max-width: $breakpoint) {
        margin-bottom: 12px;
      }
    }

    .product-card__rating-text {
      font-size: 14px;
      color: $text-dark;
      margin: 0;

      &--muted {
        color: $text-muted;
      }
    }

    .product-card__price {
      margin-top: 0;
      margin-bottom: 24px;
      gap: 12px;

      &--discount {
        padding: 4px 12px;
        font-size: 14px;
      }

      @media (max-width: $breakpoint) {
        margin-bottom: 20px;
      }
    }
  }
}
