@use "../abstracts" as *;

.review-card {
  border: 1px solid $grey-color;
  border-radius: $radius-lg;
  padding: $base-spacing * 2 $base-spacing * 1.75;
  display: flex;
  flex-direction: column;
  gap: $base-spacing;
  max-width: auto;
  height: auto;

  @media (max-width: $breakpoint) {
    padding: 20px;
    gap: 12px;
  }

  &__header {
    @include flex-between;
  }

  &__rating {
    background: $icn-star;
    width: 22px;
    height: 21px;
  }

  &__menu {
    background: $icn-3-dot;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 7px;
    padding: 0;

    @media (max-width: $breakpoint) {
      display: none;
    }
  }

  &__name-wrapper {
    position: relative;
    width: 100%;
    min-width: 0;

    &:hover .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 700;
    color: $black-color;
    margin: 0;
    width: 100%;

    span:not(.verified-icon) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .verified-icon {
      flex-shrink: 0;
    }
  }


  &__comment-wrapper {
    position: relative;
    width: 100%;
    min-width: 0;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;

    &:hover .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }

  &__comment {
    line-height: 22px;
    font-size: $font-size-base;
    color: $text-muted;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;

    @media (max-width: $breakpoint) {
      font-size: $font-size-mobile;
      display: block; // Show all comment lines
      -webkit-line-clamp: unset;
      overflow: visible;
    }
  }

  &__date {
    font-size: $font-size-base;
    @media (max-width: $breakpoint) {
      font-size: $font-size-mobile;
    }
    color: $text-muted;
    margin-top: auto;
  }
}
