// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: "Satoshi";
    src: url("../../src/assets/fonts/Satoshi/Satoshi-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("../../src/assets/fonts/Satoshi/Satoshi-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("../../src/assets/fonts/Satoshi/Satoshi-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "IntegralCF";
    src: url("../../src/assets/fonts/Intergal-CF/Fontspring-DEMO-integralcf-bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}