// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$max-width: 1440px;

//font
$font-family-base: "Satoshi", sans-serif;
$font-family-title: "IntegralCF", sans-serif;
$text-font-stack: "Satoshi", sans-serif;

//color
$primary-color: #fff; // Màu chủ đạo (đen)
$danger-color: #ff3333;
$white-color: #f0eeed;
$grey-color: #f0f0f0;
$grey-color-hover: #999;
$black-color: #000;
$text-color: #000;
$text-muted: #999;
$text-dark: #000;
$label-danger-color: #ffebeb;

//radius
$radius-pill: 62px;
$radius-lg: 20px;

//space
$base-spacing: 16px;

//icon
$icn-3-dot: url("../../src/assets/icons/icn-3-dot.svg") no-repeat center/cover;
$icn-arrow-down: url("../../src/assets/icons/icn-arrow-down.svg") no-repeat
  center/cover;
$icn-filter: url("../../src/assets/icons/icn-filter.svg") no-repeat center/cover;
$icn-half-star: url("../../src/assets/icons/icn-half-star.svg") no-repeat
  center/cover;
$icn-star: url("../../src/assets/icons/icn-star.svg") no-repeat center/cover;
$icn-tick: url("../../src/assets/icons/icn-tick.svg") no-repeat center/cover;
$icn-double-left: url("../../src/assets/icons/icn-double-left.png") no-repeat
  center/cover;
$icn-double-right: url("../../src/assets/icons/icn-double-right.png") no-repeat
  center/cover;

//image
$img-black-sctrip: url("../../src/assets/images/pic-black-sctrip-t-shirt.jpg")
  no-repeat center/cover;
$img-gradient-graphic: url("../../src/assets/images/pic-gradient-graphic-t-shirt.jpg")
  no-repeat center/cover;
$img-polo-contrast: url("../../src/assets/images/pic-polo-with-contrast-trims.jpg")
  no-repeat center/cover;
$img-polo-tipping: url("../../src/assets/images/pic-polo-with-tipping-detail.jpg")
  no-repeat center/cover;
