@use "../abstracts" as *;

// -----------------------------------------------------------------------------
// Brand Logo layout
// -----------------------------------------------------------------------------

.brand-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black-color;
  padding: 44px 0;
  margin: 0;
  position: relative;
  z-index: 1;

  @media (max-width: $breakpoint) {
    flex-wrap: wrap;
    justify-content: center;
    padding: 39px 0;
    gap: 20px 34px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-color: $black-color;
    z-index: -1;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: auto;

      @media (max-width: $breakpoint) {
        max-width: 28vw;
        height: auto;
        max-height: 27px;
      }
    }
  }
}